body {
    background-color: black;
    display: grid;
    place-content: center;
}

canvas {
    border: 4px solid #000;
    border-bottom: transparent;
    background: url('./src/images/bkg.png') repeat;
    margin: 0 auto;
    display: block;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
    border: solid white;
}